<template>
  <div id="ProgramsPage">
    <app-header/>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <img src="../../assets/CS.jpg" id="ProgramsBackground">

    <div id="MainCardContent">
      <v-container>
        <v-card id="Card1" dark width="1400" color="#C3C3C3">
          <div class="d-flex flex-no-wrap justify-space-between">
            <v-card-text>
              <br>
              <div id="ProgramName">
                <!-- {{subjectName}} --> {{majorName}}
              </div>
              <br>
              <hr class="hr">
              <br>
              <div v-show=" majorName == 'هنر و علوم انسانی' " id="ProgramInfo">
                {{description[0]}}
              </div>
              <div v-show=" majorName == 'مهندسی و فناوری' " id="ProgramInfo">
                {{description[1]}}
              </div>
              <div v-show=" majorName == 'علوم زیستی و پزشکی' " id="ProgramInfo">
                {{description[2]}}
              </div>
              <div v-show=" majorName == 'علوم طبیعی' " id="ProgramInfo">
                {{description[3]}}
              </div>
              <div v-show=" majorName == 'علوم اجتماعی و مدیریت' " id="ProgramInfo">
                {{description[4]}}
              </div>
            </v-card-text>
          </div>
        </v-card>
      </v-container>
    </div>
    <v-expansion-panels flat id="X">

      <v-expansion-panel id="EP">
        <v-expansion-panel-header id="EPHeader">
          جستجو و فیلتر <div> <img id="TriangleIcon" src="../../assets/triangle.png" alt=""> </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content id="EPContent">
          <div id="FilterContent">

            <div class="row">
              <div class="column1">
                <div id="RightContent">
                  <v-text-field class="ma-0 pa-0 filterTextField" color="#FFC61B" outlined background-color="#C3C3C3" solo dense flat placeholder="جستجوی برنامه‌ی تحصیلی" > <v-icon slot="append">search</v-icon> </v-text-field>
                  <div class="vl"></div>

                  <div class="row2">
                    <div class="column21">
                      <div id="MaxCostTextField"> <v-text-field class="ma-0 pa-0 maxCostTextField" outlined color="#FFC61B" rounded background-color="#C3C3C3" solo dense flat>
                        <template v-slot:append-outer>
                          <div id="Euro">  (یورو) </div>
                        </template>
                      </v-text-field> </div>
                    </div>
                    <div class="column22">
                      <div id="MaxCost">حداکثر مدت دوره‌ی تحصیلی</div>
                    </div>
                  </div>
                  <div class="row2">
                    <div class="column21">
                      <div id="MaxCostTextField"> <v-text-field class="ma-0 pa-0 maxCostTextField" outlined color="#FFC61B" rounded background-color="#C3C3C3" solo dense flat>
                        <template v-slot:append-outer>
                          <v-tooltip
                            bottom
                          >
                            <template v-slot:activator="{ on }">
                              <v-icon v-on="on">mdi-help-circle-outline</v-icon>
                            </template>
                            توضیحات
                          </v-tooltip>
                        </template>
                      </v-text-field> </div>
                    </div>
                    <div class="column22">
                      <div id="MaxCost">حداکثر شاخص آلودگی هوا</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column2">
                <div id="ChipGroup">
                  <div id="OrderBy">

                    <div id="OrderByText"> مرتب‌سازی بر اساس </div>
                    <div id="Inc" :style="incClicked ? { 'color': '#FFC61B' } : null" @click="incIsClicked"> صعودی </div>
                    <div id="Dec" :style="decClicked ? { 'color': '#FFC61B' } : null" @click="decIsClicked"> نزولی </div>
                  </div>
                  <div class="chip" :style="isClicked1 ? { 'background-color': '#FFC61B' } : null" @click="toggleIsClicked1">
                    نام برنامه
                  </div>
                  <div class="chip" :style="isClicked2 ? { 'background-color': '#FFC61B' } : null" @click="toggleIsClicked2">
                    شهریه‌ی سالانه
                  </div>
                  <div class="chip" :style="isClicked3 ? { 'background-color': '#FFC61B' } : null" @click="toggleIsClicked3">
                    مدت دوره‌ی تحصیلی
                  </div>
                  <div class="chip" :style="isClicked4 ? { 'background-color': '#FFC61B' } : null" @click="toggleIsClicked4">
                    رتبه‌ی دانشگاه
                  </div>
                  <div class="chip" :style="isClicked5 ? { 'background-color': '#FFC61B' } : null" @click="toggleIsClicked5">
                    توسعه‌ی انسانی
                  </div>
                </div>
                <div class="row3">
                  <div class="column31">
                    <div id="MaxCostTextField"> <v-text-field class="ma-0 pa-0 maxCostTextField" outlined color="#FFC61B" rounded background-color="#C3C3C3" solo dense flat>
                      <template v-slot:append-outer>
                        <v-tooltip
                          bottom
                        >
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">mdi-help-circle-outline</v-icon>
                          </template>
                          توضیحات
                        </v-tooltip>
                      </template>
                    </v-text-field> </div>
                  </div>
                  <div class="column32">
                    <div id="MaxCost">حداکثر رتبه‌ی دانشگاه</div>
                  </div>
                </div>
                <div class="row3">
                  <div class="column31">
                    <div id="MaxCostTextField"> <v-text-field class="ma-0 pa-0 maxCostTextField" outlined color="#FFC61B" rounded background-color="#C3C3C3" solo dense flat>
                      <template v-slot:append-outer>
                        <v-tooltip
                          bottom
                        >
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">mdi-help-circle-outline</v-icon>
                          </template>
                          توضیحات
                        </v-tooltip>
                      </template>
                    </v-text-field> </div>
                  </div>
                  <div class="column32">
                    <div id="MaxCost">حداقل شاخص توسعه‌ی انسانی</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <br> <br> <br> <br> <br>

              <div class="align">
                <div v-show=" majorName == 'مهندسی و فناوری'" v-for="program in programs" :key="program.name">
                  <div class="card-container" id="EachCard">
              <v-card
                dark
                class="card-front-content"
                width="400"
                height="430"
              >
                <v-card-title class="justify-center cardTitle">{{program.pName}} </v-card-title>
                <br>
                <v-card-subtitle class="pb-0">{{program.pUniversity}} <br> {{program.pDegree}} </v-card-subtitle>
                <br>
                <v-card-text class="text--primary">
                  <div class="programInfo">هزینه: {{program.fee}} {{program.currency}}</div>
                  <div class="programInfo">مدت زمان تحصیل: {{program.fullDuration}} / {{program.partDuration}} </div>
                  <div class="programInfo">پاره وقت / تمام وقت: {{program.fullOrPart}}</div>
                  <div class="programInfo">زبان آموزش: {{program.pLanguage}}</div>
                  <div class="programInfo">مینیمم تافل: {{program.toefl}}</div>
                  <div class="programInfo">مینیمم آیلتس : {{program.ielts}}</div>
                  <div class="programInfo">مینیمم دوالینگو : {{program.duolingo}}</div>

                </v-card-text>

                <v-card-actions class="justify-center">
                  <a :href="program.link" class="programLink" target="_blank">
                    <v-btn
                      color="#FFC61B"
                      text
                      class="cardButton"
                    >
                      {{program.link.slice(0, 35)}}...
                    </v-btn>
                  </a>
                </v-card-actions>
              </v-card>
              </div>
            </div>
          </div>
  </div>
</template>

<script>
/* eslint-disable */
// import SubjectsDetailView from './SubjectsDetailView.vue'
// import SubjectsListView from './SubjectsListView.vue'
import axios from 'axios'
import AppbarHeader from '../FirstAppbarHeader'
export default {
  components: {
    'app-header': AppbarHeader
  },
  // props: ['title'],
  data () {
    return {
      isClicked1: false,
      isClicked2: false,
      isClicked3: false,
      isClicked4: false,
      isClicked5: false,
      incClicked: false,
      decClicked: false,
      programs: null,
      majorName: this.$route.params.programName,
      description: [
        'Humanities are academic disciplines that study aspects of human society and culture. In the Renaissance, the term contrasted with divinity and referred to what is now called classics, the main area of secular study in universities at the time. Today, the humanities are more frequently contrasted with natural, and sometimes social sciences, as well as professional training.',
        'Engineering & Technology (E&T) is a science, engineering and technology magazine published by IET Services, a wholly owned subsidiary of the Institution of Engineering and Technology (IET), a registered charity in the United Kingdom. The magazine is issued 10 times per year in print and at least 10 times per year in an app. The E&T website is updated regularly with news stories. E&T is distributed to the 140,000 plus membership of the IET around the world.',
        'This list of life sciences comprises the branches of science that involve the scientific study of life and organisms – such as microorganisms, plants, and animals including human beings. This science is one of the two major branches of natural science, the other being physical science, which is concerned with non-living matter. Biology is the natural science that studies life and living organisms, with the other life sciences its sub-disciplines.',
        'Natural science is a branch of science concerned with the description, prediction, and understanding of natural phenomena, based on empirical evidence from observation and experimentation. Mechanisms such as peer review and repeatability of findings are used to try to ensure the validity of scientific advances.',
        'Social science is the branch of science devoted to the study of human societies and the relationships among individuals within those societies. The term was formerly used to refer to the field of sociology, the original "science of society", established in the 19th century. In addition to sociology, it now encompasses a wide array of academic disciplines, including anthropology, archaeology, economics, human geography, linguistics, management science, media studies, musicology, political science, psychology, welfare and nursing studies and social history.'
      ]
    }
  },
  methods: {
    toggleIsClicked1: function () {
      this.isClicked1 = true
      this.isClicked2 = false
      this.isClicked3 = false
      this.isClicked4 = false
      this.isClicked5 = false
    },
    toggleIsClicked2: function () {
      this.isClicked1 = false
      this.isClicked2 = true
      this.isClicked3 = false
      this.isClicked4 = false
      this.isClicked5 = false
    },
    toggleIsClicked3: function () {
      this.isClicked1 = false
      this.isClicked2 = false
      this.isClicked3 = true
      this.isClicked4 = false
      this.isClicked5 = false
    },
    toggleIsClicked4: function () {
      this.isClicked1 = false
      this.isClicked2 = false
      this.isClicked3 = false
      this.isClicked4 = true
      this.isClicked5 = false
    },
    toggleIsClicked5: function () {
      this.isClicked1 = false
      this.isClicked2 = false
      this.isClicked3 = false
      this.isClicked4 = false
      this.isClicked5 = true
    },
    incIsClicked: function () {
      this.incClicked = true
      this.decClicked = false
    },
    decIsClicked: function () {
      this.incClicked = false
      this.decClicked = true
    }
  },
  mounted () {
    axios.get('http://localhost:8084/programs/show')
      .then(response => {
        this.programs = [...response.data]
      })
  }
}
</script>

<style scoped>
  #X {
    width: 90%;
    /* margin-bottom: 5%; */
  }
  #EP {
    background-color: #C3C3C3;
    border-radius: 20px;
    right: 6%;
    /* width: 60%; */
  }
  #EPHeader {
    color: #053A62;
    font-size: 2em;
    position: relative;
    right: 42%;
  }
  #EPContent {
    background-color: #858585;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: auto;
  }
  #FilterContent {
    position: relative;
    top: 20%;
  }
  #MaxCost, #MaxRank {
    color: white;
    text-align: right;
  }
  #Euro {
    color: white;
    position: relative;
    top: 5px;
  }
  #RightContent {
    position: relative;
    /* top: 10%; */
  }
  .chip {
    display: inline-block;
    padding: 0 15px;
    height: 50px;
    /* width: 16%; */
    /* font-size: 18px; */
    line-height: 50px;
    margin-left: 1%;
    border-radius: 25px;
    background-color: #C3C3C3;
    border-style: solid;
    border-color: #FFC61B;
    cursor: pointer;
  }
  #ChipGroup {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vl {
    position: absolute; /*or fixed*/
    left: -3%;
    border-left: 2px solid #FFC61B;
    height: 55%;
  }
  .column1 {
    float: left;
    width: 30%;
    height: auto; /* Should be removed. Only for demonstration */
    padding-right: 3%;
    padding-bottom: 3%;
  }
  .column2 {
    float: left;
    width: 70%;
    height: auto; /* Should be removed. Only for demonstration */
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
  }
  .column21 {
    position: relative;
    float: left;
    bottom: 5px;
    width: 30%;
    height: auto; /* Should be removed. Only for demonstration */
  }
  .column22 {
    position: relative;
    top: 5px;
    float: left;
    width: 70%;
    height: auto; /* Should be removed. Only for demonstration */
  }
  .column31 {
    position: relative;
    top: 5px;
    float: left;
    width: 25%;
    height: auto; /* Should be removed. Only for demonstration */
  }
  .column32 {
    position: relative;
    top: 10px;
    float: left;
    width: 75%;
    height: auto; /* Should be removed. Only for demonstration */
  }
  /* Clear floats after the columns */
  .row:after, .row2:after, .row3:after {
    content: "";
    display: table;
    clear: both;
  }
  .row3 {
    width: 40%;
  }
  .filterTextField .v-icon {
    background-color: #FFC61B;
    border-radius: 20px;
  }
  .maxCostTextField .v-icon {
    color: #FFC61B;
  }
  .filterTextField {
    border-radius: 20px;
  }
  #Inc, #Dec {
    display: inline-block;
    cursor: pointer;
  }
  #Inc {
    margin-left: 10px;
  }
  #OrderBy {
    color: white;
    margin-left: 4%;
  }
  #OrderByText {
    font-size: 1.4em;
  }
  #SelectCountry {
    position: relative;
    top: 20px;
    right: 8px;
    width: 40%;
  }
  .theme--light.v-application{
    background-color: #C3C3C3;
  }
  .theme--light.v-list{
    background: #C3C3C3;
  }
  #ProgramsPage {
    background-image: url("../../assets/STAR.jpg");
    background-repeat: round;
    /* background-color:#242424; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    margin-top: 60px;
  }
  #ProgramsBackground {
    object-fit: cover;
    object-position: 80% 40%;
    width: 100%;
    height: 337px;
  }
  #MainCardContent {
    position: relative;
    bottom: 110px;
  }
  #Card1, #Card2 {
    height: 100%;
  }
  .hr {
    border: 1px solid #adadad;
  }
  #ProgramName {
    text-align: right;
    font-family: "B Koodak";
    color: #053a62;
    font-size: 40px;
  }
  #ProgramInfo {
    text-align: left;
    font-family: "Comic Sans MS";
    color: #053a62;
    font-size: 15px;
    font-weight: bold;
  }
  .cardTitle {
    font-size: 30px;
    text-align: center;
  }
  /* */
  .align {
    /* padding-top:40px; */
    /* width:100%; */
    display: flex;
    flex-flow: row wrap;
    /* justify-content:space-around;
    align-items:space-around; */
    position: relative;
    right: 12%;
    bottom: 100px;
  }
  .card-container {
    -webkit-perspective: 1200;
    -moz-perspective: 1200;
    perspective: 1200;
  }
  .card-horizontal {
    height: 230px;
    width: 450px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    /* transition-delay: 2s; */
  }
  .card-front,
  .card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    /* transition-delay: 2s; */
    max-width: 450px;
  }
  .card-back {
    -moz-transform: rotateY(179.9deg);
    -webkit-transform: rotateY(179.9deg);
    transform: rotateY(179.9deg);
    -webkit-transform: rotateX(179.9deg);
    -moz-transform: rotateX(179.9deg);
    transform: rotateX(179.9deg);
  }
  /* .card-back-hr {
    -webkit-transform:rotateX(179.9deg);
    -moz-transform:rotateX(179.9deg);
    transform:rotateX(179.9deg);
  } */
  .card-horizontal:hover {
    -webkit-transform: rotateX(179.9deg);
    -moz-transform: rotateX(179.9deg);
    transform: rotateX(179.9deg);
  }
  #Flag {
    border-radius: 20px;
    width: 33px;
    height: 33px;
    position: relative;
    top: 8%;
  }
  #CardSubtitle3 {
    text-align: left;
    position: relative;
    bottom: 10px;
    color: #042d4b;
    font-size: 15px;
    left: 1%;
    font-family: "B Koodak";
  }
  .inner-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    /* border-color: #025835; */
    position: absolute;
    pointer-events: none;
    right: 86%;
    top: 80%;
  }
  #UniversitiesTitle {
    color: white;
    font-family: "Segoe UI", sans-serif;
    text-align: right;
    font-weight: normal;
    margin-right: 20px;
  }

  /* #DetailsText {
    text-decoration: none;
    font-weight: bold;
    margin-left: 48px;
    margin-right: 4px;
    letter-spacing: 0px;
  }

  #BookMarkText {
    font-weight: bold;
    text-align: center;
    letter-spacing: 0px;
  } */

  #Card1, #Card2 {
    border-radius: 10px;
    background-color: #c3c3c3;
  }
  #EachCard {
    margin-top: 5%;
    margin-left: 20px;
    position: relative;
    left: 10%;
    margin-bottom: 10%;
  }
  /*  */
  #CardSubtitle1,
  #CardSubtitle2 {
    font-family: "B Koodak";
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
    color: #042d4b;
    position: relative;
  }
  #CardSubtitle2 {
    font-size: 15px;
    bottom: 7px;
  }

  #UniversitiesContent {
    margin-left: 4%;
    margin-right: 3%;
  }

  #CardBottom {
    background-color: #c3c3c3;
  }

  #ViewText {
    margin-right: 15px;
  }
  #ListView {
    text-decoration: none;
    color: #86c7f8;
  }
  #DetailsView {
    text-decoration: none;
    color: #202020;
  }
  #View {
    color: white;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -2%;
    margin-left: 10px;
  }
  #List {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: -5px;
    letter-spacing: 0px;
  }
  #Details {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: -5px;
    letter-spacing: 0px;
  }
  .v-text-field {
    margin: 20px 2% 30px 0%;
  }
  #ProgramRank {
    display: inline-block;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    bottom: 10px;
    color: white;
    display: inline-block;
    text-align: left;
    position: relative;
    float: left;
    bottom: 5px;
    border-radius: 10px;
    margin-top: 50px;
    padding-left: 2%;
    padding-right: 2%;
    width: fit-content(20em);
  }
  h3 {
    margin: 0px 0px 0px 40px;
    font-weight: lighter;
    color: #0793ff;
  }
  #BackUniversityName {
    font-size: 20px;
    color: #042d4b;
    display: inline-block;
    position: relative;
    bottom: 15px;
    right: 1%;
  }
  #BackUniversityEnglishName {
    font-size: 15px;
    font-family: "B Koodak";
  }
  .BackUniversityInfo {
    font-size: 15px;
    color: #042d4b;
    line-height: 18px;
  }
  #BackLogo {
    height: 50px;
    width: 50px;
    /* border-radius: 20px; */
  }
  #BackLogoContent {
    display: inline-block;
  }
  #WebsiteIcon {
    width: 30px;
    position: relative;
  }
  #Website {
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: #8691db;
    text-decoration: underline;
    bottom: 10px;
    right: 1%;
  }
  #StarRating {
    position: relative;
    /* right: 74%; */
    bottom: 130px;
    background-color: black;
    border-radius: 20px;
    width: fit-content(20em);
    padding-left: 2%;
    padding-right: 2%;
    display: inline-block;
    float: left;
    text-align: left;
  }
  #Degree {
    position: relative;
    right: 31%;
    bottom: 85px;
    background-color: black;
    border-radius: 20px;
    width: fit-content(20em);
    padding-left: 2%;
    padding-right: 2%;
    display: inline-block;
    float: left;
    text-align: left;
  }
  #BackStarRating {
    position: relative;
    margin-bottom: 10%;
    background-color: black;
    border-radius: 20px;
    padding-top: 2%;
    padding-right: 10px;
    padding-left: 0px;
  }
  #TriangleIcon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
  }
  #BackRankText,
  #BackRank {
    display: inline-block;
  }
  #BackProgramRank,
  #BackProgramDegree {
    margin-bottom: 10%;
    background-color: black;
    border-radius: 20px;
    position: relative;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  #BackUniversityCountry {
    background-color: black;
    border-radius: 20px;
    position: relative;
    text-align: center;
  }
  #MoreText {
    position: relative;
    right: 25%;
    color: white;
    text-decoration: none;
  }
  #CardLogo {
    position: absolute;
    height: 50px;
    width: 50px;
    /* border-radius: 20px; */
    top: 84%;
    right: 3%;
  }
  #LeftBackCard {
    float: left;
    display: inline-block;
    color: white;
    position: relative;
    bottom: 250px;
  }
  #ExploreText {
    position: relative;
    right: 27%;
    float: left;
    bottom: 45px;
    width: 28%;
  }
  #ExploreTextLink {
    text-decoration: none;
  }
  #RightBackCard {
    text-align: right;
  }
  .programInfo {
    color: white;
  }
  .programLink {
    text-decoration: none;
  }
  @media only screen and (max-width: 1263px) {
    #Card1 {
      height: 400px;
    }
  }
  @media only screen and (max-width: 883px) {
    #Card1 {
      height: 400px;
    }
  }
  @media only screen and (max-width: 610px) {
    #Card1 {
      height: 600px;
    }
  }
  @media only screen and (max-width: 580px) {
    #Card2 {
      position: relative;
      right: 5%;
    }
  }
  @media only screen and (max-width: 480px) {
    #Card1 {
      font-size: 10px;
    }
  }
  @media only screen and (max-width: 240px) {
    #Card1 {
      font-size: 10px;
    }
  }
</style>
